.square {
  background: white;
  border: 2px solid black;
  font-size: 2rem;
  font-weight: bold;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 64px;
  height: 64px;
}

.status {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  margin-bottom: 1rem;
}

.restart {
  background: white;
  border: 2px solid black;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-align: center;
}
